.emailverification{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailverificationContainer{
    background: black;
    width: 20vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    padding: 50px;
    flex-direction: column;
}
.reqBtn{
    align-self: center;
    margin-right: 7vw;
    width: 10vw;
}